// Place all the styles related to the admin::reservations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.alert{
  margin: 15px;
}





.admin-header{
  margin-top: 20px;
  margin-bottom: 50px;
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .admin-link{
    display: flex;
    align-items: center;
    height: 48px;
    width: 300px;
    text-decoration: none;
  }

  .admin-link-btn{
    height: 100%;
    width: 100%;
    font-size: 22px;
  }
}


.admin-username{
  height: 30px;
  font-weight: 500;
  margin-bottom: 20px;
}


.reservation{
  height: 50px;
  width: 70vw;
  margin-left: 30px;
  border: 2px solid black;
  border-radius: 5px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.reservation-date{
  padding-left: 20px;
  width: 80%;
  height: 100%;
  display: flex;
  align-items: center;
}

.reservation-delete{
  text-align: center;
  width: 20%;
  height: 100%;
  border-left: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  a{
    text-decoration: none;
    color: black;
  }
}
table {
  border: 2px solid black;
  border-collapse: collapse;
  width: 80vw;
  margin: 20px auto;
}

th {
  height: 50px;
  border: 1.5px solid  black;
  background-color: skyblue;
}


td{
  height: 50px;
  border: 1px solid darkgray;
}

.text-center{
  text-align: center;
}

.next-reservation{
  background-color: white;

  text-align: center;
}

.admin-user-btn{
  width: 100%;
  height: 100%;
  font-size: 18px;
}

.name{
  padding-left: 10px;
  font-weight: 600;
  background-color: white;
}

.name-head{
  padding-left: 10px;
}

.edit-delete{
  width: 13%
}