// Place all the styles related to the admin::users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.admin-memo-form-title{
  text-align: center;
  margin-top: 30px;
  font-size: 24px;
  font-weight: bold;
}

.admin-memo-form{

  height: 30vh;
  width: 45vw;
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.admin-memo {
  width: 40vw;
  height: 20vh;
  padding: 5px;
}

.submit-btn{
  width: 20vw;
  height: 40px;
  font-size: 18px;
}


.admin-user-information{

  height: 400px;
  width: 800px;
  margin: 20px auto;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;

  .admin-user-name{
    width: 100%;
    height: 50px;
    border-bottom: 2px solid black;
    font-size: 24px;
    font-weight: 600;
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .admin-prefers{
    width: 100%;
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;

    .admin-prefers-title{
      width: 30%;
      height: 150px;
      font-size: 20px;
      border-right: 1px solid black;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .admin-prefer-content{
      width: 70%;
      height: 150px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

  }

  .admin-memos{
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;

    .admin-memos-title{
      width: 30%;
      height: 100%;
      font-size: 20px;
      border-right: 1px solid black;
      display: flex;
      justify-content: center;
      align-items: center;
      .admin-memo-edit{
        margin-left: 20px;
        font-size: 16px;
        text-decoration: none;
        color: blue;
      }
    }

    .memo-contents{
      width: 70%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .user-memo-content{
        width: 100%;
        height: 50%;
        border-bottom: 1px solid black;
        padding: 5px;
        overflow-y: scroll;
      }

      .admin-memo-content{
        width: 100%;
        height: 50%;
        padding: 5px;
        overflow-y: scroll;
      }
    }
  }

}

.admin-reservation{
  margin: 50px 0;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.all-reservation{

  width: 800px;
  margin: 0 auto;
  .reservation{
    height: 50px;
    width: 100%;
    border: 2px solid black;
    border-radius: 5px;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .reservation-date{
    padding-left: 20px;
    width: 80%;
    height: 100%;

    background-color: white;
    display: flex;
    align-items: center;
  }
  
  .reservation-delete{
    text-align: center;
    width: 20%;
    height: 100%;
    background-color: red;
    border-left: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    a{
      text-decoration: none;
      color: white;
      font-weight: bold;
    }
  }
}