<%= render "users/shared/header"%>

<%if user_signed_in?%>
  <h2>予約カレンダー</h2>
  <div>
    <p>希望する日付の◯をクリックすると予約確認ページへ移動します</p>
  </div>
  <%= alert%>
    <div class="col-12 mt-3">
      <%= week_calendar events: @reservations do |date, reservations| %>
        <%= date.day %>
      <% end %>
    </div>
  <%end%>