<div class = "reserve">
  <div class = "reserve-box">
    <div class = "reserve-title">予約確認</div>
    <div class = "reserve-content">
      <%="#{@day.year}年#{@day.month}月#{@day.day}日の#{@time}に予約をしますか？"%>
    </div>
    <div>
    <%= link_to "トップページに戻る", root_path, class: "root-links"%>
    </div>
  </div>
</div>
