.simple-calendar {
  table {
    -webkit-border-horizontal-spacing: 0px;
    -webkit-border-vertical-spacing: 0px;
    margin: 20px auto;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid rgb(221, 221, 221);
    border-collapse: collapse;
    box-sizing: border-box;
    max-width: 90%;
    width: 90%;
  }

  tr {
    border-collapse: collapse;
  }

  th {
    padding: 6px;
    font-weight: 600;
    background-color: lightyellow;
    border-bottom: 2px solid rgb(221, 221, 221);
    border-collapse: collapse;
    border-left: 1px solid rgb(221, 221, 221);
    border-right: 1px solid rgb(221, 221, 221);
    border-top: 0px none rgb(51, 51, 51);
    box-sizing: border-box;
    text-align: left;
  }

  td {
    padding: 6px;
    vertical-align: top;
    width: 12.5%;
    text-align: center;

    border: 1px solid #ddd;
    border-top-color: rgb(221, 221, 221);
    border-top-style: solid;
    border-top-width: 1px;
    border-right-color: rgb(221, 221, 221);
    border-right-style: solid;
    border-right-width: 1px;
    border-bottom-color: rgb(221, 221, 221);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: rgb(221, 221, 221);
    border-left-style: solid;
    border-left-width: 1px;
  }

  .day {
    height: 30px;
  }

  .wday-0 {
    background-color: #f9cece;
  }
  .wday-1 {background-color: lightgoldenrodyellow;}
  .wday-2 {background-color: lightgoldenrodyellow;}
  .wday-3 {background-color: lightgoldenrodyellow;}
  .wday-4 {background-color: lightgoldenrodyellow;}
  .wday-5 {background-color: lightgoldenrodyellow;}
  .wday-6 {
    background-color: #bcd8ff;
  }

  .today {
    background-color: rgb(137, 255, 137);
  }
  .past {
  }
  .future {}

  .start-date {}

  .prev-month {
    background-color: rgb(217, 217, 217);
  }
  .next-month {
    background-color: rgb(217, 217, 217);
  }
  .current-month {}

  .has-events {
  }
  .has-reservation{
    text-decoration: none;
    font-weight: 500;
    color: black;
  }
}



// week
.simple-calendars {
  width: 90%;
  margin: 0 auto;
  text-align: center;

  .day {
    width: 12.5%;
    height: 30px;
  }

  .wday-0 {
    background-color: #f9cece;
  }
  .wday-1 {}
  .wday-2 {}
  .wday-3 {}
  .wday-4 {}
  .wday-5 {}
  .wday-6 {
    background-color: #bcd8ff;
  }
  .calendar-text{
    height: 30px;
  }
  .today {
    background-color: rgb(184, 243, 184);
  }
  .past {
  }
  .future {}

  .start-date {}

  .prev-month {
    background-color: rgb(217, 217, 217);
  }
  .next-month {
    background-color: rgb(217, 217, 217);
  }
  .current-month {
  }

  .has-events {
  }
}