.simple-calendar {

  .calendar-heading{
    text-align: center;
    a {
      text-decoration: none;
      color: black;
    }
    .calendar-title{
      font-weight: 600;
      margin: 0 30px;
    }
  }

  table {
    -webkit-border-horizontal-spacing: 0px;
    -webkit-border-vertical-spacing: 0px;
    margin: 20px auto;
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid black;
    border-collapse: collapse;
    box-sizing: border-box;
    max-width: 90%;
    width: 90%;
  }

  tr {
    border-collapse: collapse;
  }

  th {
    padding: 5px;
    font-weight: 600;
    background-color: rgb(249, 249, 70);
    border-bottom: 2px solid black;
    border-collapse: collapse;
    border-left: 1px solid rgb(221, 221, 221);
    border-right: 1px solid rgb(221, 221, 221);
    border-top: 0px none rgb(51, 51, 51);
    box-sizing: border-box;
    text-align: left;
    vertical-align: middle;
  }

  td {
    padding: 5px;
    vertical-align: middle;
    width: 12.5%;
    text-align: center;
    border: 1px solid #ddd;
    border-top-color: rgb(221, 221, 221);
    border-top-style: solid;
    border-top-width: 1px;
    border-right-color: rgb(221, 221, 221);
    border-right-style: solid;
    border-right-width: 1px;
    border-bottom-color: rgb(221, 221, 221);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: rgb(221, 221, 221);
    border-left-style: solid;
    border-left-width: 1px;
  }

  .day {
    height: 20px;
  }

  .wday-0 {
    background-color: #f9cece;
    font-weight: 600;
  }
  .wday-1 {
    background-color: lightgoldenrodyellow;
    font-weight: 600;}
  .wday-2 {
    background-color: lightgoldenrodyellow;
    font-weight: 600;}
  .wday-3 {
    background-color: lightgoldenrodyellow;
    font-weight: 600;}
  .wday-4 {
    background-color: lightgoldenrodyellow;
    font-weight: 600;}
  .wday-5 {
    background-color: lightgoldenrodyellow;
    font-weight: 600;}
  .wday-6 {
    background-color: #bcd8ff;
    font-weight: 600;
  }

  .today {
    background-color: rgb(137, 255, 137);
  }
  .past {
  }
  .future {}

  .start-date {}

  .prev-month {
    background-color: rgb(217, 217, 217);
  }
  .next-month {
    background-color: rgb(217, 217, 217);
  }
  .current-month {}

  .has-events {
  }
  .has-reservation{
    text-decoration: none;
    font-weight: 500;
    color: black;
  }

  .no-reservation{
    text-decoration: none;
    color: black;
  }
}



// week
.simple-calendars {
  table {
    -webkit-border-horizontal-spacing: 0px;
    -webkit-border-vertical-spacing: 0px;
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid black;
    border-collapse: collapse;
    box-sizing: border-box;
    max-width: 90%;
    width: 90%;
    margin: 10px auto;
  }

  tr {
    border-collapse: collapse;
  }

  th {
    padding: 6px;
    background-color: lightyellow;
    border-bottom: 2px solid black;
    border-collapse: collapse;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-top: 0px none rgb(51, 51, 51);
    box-sizing: border-box;
    text-align: center;
  }

  td {
    padding: 6px;
    font-weight: 600;
    vertical-align: middle;
    width: 12.5%;
    text-align: center;

    border: 1px solid #ddd;
    border-top-color: black;
    border-top-style: solid;
    border-top-width: 1px;
    border-right-color: black;
    border-right-style: solid;
    border-right-width: 1px;
    border-bottom-color: black;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: black;
    border-left-style: solid;
    border-left-width: 1px;
  }

  .day {
    height: 20px;
  }

  .wday-0 {
    background-color: #f9cece;
    font-weight: 600;
  }
  .wday-1 {
    background-color: white;
    font-weight: 600;}
  .wday-2 {
    background-color: white;
    font-weight: 600;}
  .wday-3 {
    background-color: white;
    font-weight: 600;}
  .wday-4 {
    background-color: white;
    font-weight: 600;}
  .wday-5 {
    background-color: white;
    font-weight: 600;}
  .wday-6 {
    background-color: #bcd8ff;
    font-weight: 600;
  }
  .calendar-text{
    height: 20px;
    text-decoration: none;
    color: black;
  }
  .calendar-heading{
    height: 30px;
    padding: auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
    a{
      height: 30px;
      text-decoration: none;
      font-weight: 600;
      color: black;
    }

    span{
      height: 30px;
      vertical-align: middle;
      margin: 0 20px 5px;
      font-size: 20px;
      font-weight: 600;
      color: black;
    }

  }
  .today {
    background-color: rgb(184, 243, 184);
  }
  .past {
  }
  .future {}

  .start-date {}

  .prev-month {
    background-color: rgb(217, 217, 217);
  }
  .next-month {
    background-color: rgb(217, 217, 217);
  }
  .current-month {
  }

  .has-events {
  }

  .calendar-text{
    font-size: 18px;
    font-weight: 600;
  }
}